# Logs
logs
backend/error.log
backend/request.log
npm-debug.log*

# Dependency directory
backend/node_modules
frontend/node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
backend/.env

frontend/build
